.article {
    text-align: left;
    h3 {
        margin: 40px 0;
    }
    p {
        margin-bottom: 25px;
    }
    img {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
     &__img {
        margin-bottom: 45px;
        &:after {
            content: "";
            display: block;
            margin: 0 auto;
            width: 220px;
            height: 30px;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-image: url("../images/title_orn_2.png");
            margin-top: 46px;
        }
    }
    &__action {
        @include flex();  
    }
}