.button {
    height: 50px;
    width: 260px;
    background-color: #FFF;
    text-align: center;
    color: $text;
    text-transform: uppercase;
    border: none;
}
a.button {
    line-height: 50px;
}