.button {
    height: 50px;
    width: 260px;
    background-color: #FFF;
    text-align: center;
    color: $text;
    text-transform: uppercase;
    border: none;
    font: 21px $pns;
    cursor: pointer;
    &--dark {
        background: $text;
        color: #FFF;
    }
}
a.button {
    line-height: normal;
    padding: 13px 0 10px;
    display: inline-block;
}