.infoMedia {
    @include flex($alignI: flex-start);
    &__col {
        width: 50%;
         @include m750 {
            width: 100%;
        }
        &--info {
            padding: 20px;
            text-align: left;
            @include flex($direction: column, $justify: center);
            p {
                margin-top: 15px;
            }
            .button {
                display: block;
                margin: 35px auto 0;
            }
        }
        &--media {
            img {
                display: block;
                width: 100%;
            }
        }
    }
    &--center {
        .infoMedia__col--info {
            text-align: center;
            h2:after {
                margin-top: 10px;
            }
            h3:after {
                margin-top: 10px;
            }
            p {
                max-width: 320px;
            }
        }
    }
}

.menu {
    .infoMedia {
        margin-bottom: 50px;
        &:nth-of-type(2n) {
            -webkit-flex-direction: row-reverse;
                -ms-flex-direction: row-reverse;
                    flex-direction: row-reverse;
        }
        h3 {
            font: 48px $pnb;
            text-transform: uppercase;
            text-align: center;
            span {
                display: block;
                color: $gold;
                font: 60px $lr;
                text-transform: none;
            }
            @include m1000 {
                font-size: 36px;
                span {
                    font-size: 48px;
                }
            }
            @include m750 {
                font-size: 28px;
                span {
                    font-size: 38px;
                }
            }
            @include m750 {
                font-size: 23px;
                span {
                    font-size: 32px;
                }
            }
            &:after {
                content: "";
                display: block;
                margin: 0 auto;
                width: 220px;
                height: 30px;
                background-repeat: no-repeat;
                background-position: 50% 50%;
                background-image: url("../images/title_orn_2.png");
            }
        }
    }
}