.infoMedia {
    @include flex($alignI: flex-start);
    &__col {
        width: 50%;
        &--info {
            padding: 20px;
            text-align: left;
            @include flex($direction: column, $justify: center);
            p {
                margin-top: 15px;
            }
            .button {
                display: block;
                margin: 35px auto 0;
            }
        }
        &--media {
            img {
                display: block;
                width: 100%;
            }
        }
    }
    &--center {
        .infoMedia__col--info {
            text-align: center;
            h2:after {
                margin-top: 10px;
            }
            p {
                max-width: 320px;
            }
        }
    }
}

.menu {
    .infoMedia {
        margin-bottom: 50px;
        &:nth-of-type(2n) {
            -webkit-flex-direction: row-reverse;
                -ms-flex-direction: row-reverse;
                    flex-direction: row-reverse;
        }
    }
}