.media {
	position: relative;
	overflow: hidden;
	z-index: 1;

	&:before {
		content: '';
		width: 660px;
		height: 660px;
		position: absolute;
		top: 0;
		left: 0;
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		z-index: -1;

		@media (min-width: 1300px) {
			background-image: url(../images/media.jpg);
		}
	}

	&:after {
		content: '';
		width: 660px;
		height: 660px;
		position: absolute;
		bottom: 0;
		right: 0;
		-webkit-transform: translate(50%, 50%);
		-ms-transform: translate(50%, 50%);
		-o-transform: translate(50%, 50%);
		transform: translate(50%, 50%);
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		z-index: -1;

		@media (min-width: 1300px) {
			background-image: url(../images/media.jpg);
		}
	}

	h2:after {
		display: none;
	}

	h2 {
		margin-bottom: 85px;
	}
}



.media-slider {
	padding: 0 60px;
	position: relative;
	margin-bottom: 0;

	&.slick-initialized .slick-slide {
		@include flex();
	}

	.slick-arrow {
		width: 29px;
		height: 48px;
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		margin-top: -19px;

		&:before {
			display: none;
		}
	}

	.slick-prev {
		left: 0;
		background-image: url(../images/arrow-prev.svg);
	}
	.slick-next {
		right: 0;
		background-image: url(../images/arrow-next.svg);
	}

	.content-column {
		width: -webkit-calc(100% - 520px);
		width: calc(100% - 520px);
		padding-right: 25px;
	}

	.image-column {
		width: 520px;
		height: auto;

		img {
			display: block;
			width: 100%;
		}
	}

	.slide {
		time {
			text-transform: uppercase;
			font-family: $pnl;
			font-size: 16px;
			color: #515151;
			margin-bottom: 8px;
			display: block;
		}

		.slide-title {
			font-size: 30px;
			font-family: $pns;
			color: $text;
			text-transform: uppercase;
			position: relative;
			line-height: 30px;
			margin-bottom: 13px;

			 &:after {
		        content: "";
		        display: block;
		        margin: 0 auto;
		        width: 220px;
		        height: 30px;
		        background-repeat: no-repeat;
		        background-position: 50% 50%;
		        background-image: url("../images/title_orn_2.png");
		    }
		}

		p {
			font-size: 14px;
		}

		.button {
			margin-top: 45px;
		}
	}
}