.media {
	position: relative;
	overflow: hidden;
	z-index: 1;

	h2:after {
		display: none;
	}

	h2 {
		margin-bottom: 85px;
	}
}



.media-slider {
	padding: 0 60px;
	position: relative;
	margin-bottom: 0;
	@include m750 {
		padding: 0 10px;
	}
	&.slick-initialized .slick-slide {
		@include flex();
		margin-bottom: 0;
	}

	.slick-arrow {
		width: 29px;
		height: 48px;
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		margin-top: -19px;

		-webkit-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
		@include m750 {
			width: 30px;
    		height: 30px;
    		margin-top: -56px;
			background-color: #FFF !important;
			-webkit-border-radius: 50%;
			        border-radius: 50%;
			background-size: auto 65%;
			-webkit-box-shadow: 0 0 1px #666;
			        box-shadow: 0 0 1px #666;
			z-index: 2;
		}

		&:hover {
			-webkit-transform: scale(1.1);
			-ms-transform: scale(1.1);
			-o-transform: scale(1.1);
			transform: scale(1.1);
		}

		&:before {
			display: none;
		}
	}

	.slick-prev {
		left: 0;
		background-image: url(../images/arrow-prev.svg);
	}
	.slick-next {
		right: 0;
		background-image: url(../images/arrow-next.svg);
	}

	.event {
		margin-bottom: 0;
	}
}

.event {

	&:not(:last-child) {
		margin-bottom: 50px;
		@include m750 {
          margin-bottom: 60px;
        }
	}

	.content-column {
		width: 330px;
		padding-right: 25px;
	}

	.image-column {
		width: -webkit-calc(100% - 330px);
		width: calc(100% - 330px);
		height: auto;

		img {
			display: block;
			width: 100%;
		}
	}
	@include m750 {
        .content-column {
			width: 100%;
			padding: 0px;
			margin-bottom: 20px;
		}

		.image-column {
			width: 100%;
			height: auto;
		}
    }

	time {
		text-transform: uppercase;
		font-family: $pnl;
		font-size: 16px;
		color: #515151;
		margin-bottom: 8px;
		display: block;
	}

	.slide-title {
		font-size: 30px;
		font-family: $pns;
		color: $text;
		text-transform: uppercase;
		position: relative;
		line-height: 30px;
		margin-bottom: 13px;
		@include m1000 {
            font-size: 36px;
            span {
                font-size: 48px;
            }
        }
        @include m800 {
            font-size: 32px;
            span {
                font-size: 42px;
            }
        }
        @include m750 {
            font-size: 28px;
            span {
                font-size: 38px;
            }
        }
        @include m750 {
            font-size: 23px;
            span {
                font-size: 32px;
            }
        }

		 &:after {
	        content: "";
	        display: block;
	        margin: 0 auto;
	        width: 220px;
	        height: 30px;
	        background-repeat: no-repeat;
	        background-position: 50% 50%;
	        background-image: url("../images/title_orn_2.png");
	    }
	}

	p {
		font-size: 14px;
	}

	.button {
		margin-top: 45px;
		@include m750 {
          margin-top: 30px;
        }
	}
}

.media-box {
	.event:nth-child(even) {
		-webkit-flex-direction: row-reverse;
	    -ms-flex-direction: row-reverse;
	    flex-direction: row-reverse;

	    .content-column {
	    	padding-right: 0;
	    	padding-left: 25px;
	    	@include m750 {
	          padding: 0;
	        }
	    }
	}
}


.wp-pagenavi {
	display: block;
	margin: 50px auto 0 auto;
	width: auto;

	a,
	span {
		display: inline-block;
		vertical-align: middle;
		font-size: 21px;
		color: $text;
		font-family: $pns;
		margin: 0 10px;
		-webkit-transition: color 0.3s ease;
		-o-transition: color 0.3s ease;
		transition: color 0.3s ease;
	}

	a.page:hover,
	span.current {
		color: $gold;
	}

	a.first,
	a.last {
		width: 10px;
		height: 25px;
		position: relative;

		&:before {
			content: '';
			width: 0;
			height: 0;
			position: absolute;
			top: 50%;
			left: 50%;
			-webkit-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			-o-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
		}
	}

	a.first:before {
		border-style: solid;
		border-width: 5px 5px 5px 0;
		border-color: transparent $text transparent transparent;
	}
	a.last:before {
		border-style: solid;
		border-width: 5px 0 5px 5px;
		border-color: transparent transparent transparent $text;
	}
}