.menu {
    position: relative;
    overflow: hidden;
    background-image: url(../images/media.jpg), url(../images/media.jpg);
    background-position: calc(100% + 330px) 35%, -330px 65%;
    background-repeat: no-repeat, no-repeat;
    &:before {
        content: '';
        width: 660px;
        height: 660px;
        position: absolute;
        top: 0;
        left: 0;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        z-index: -1;

        @media (min-width: 1300px) {
            background-image: url(../images/media.jpg);
        }
    }

    &:after {
        content: '';
        width: 660px;
        height: 660px;
        position: absolute;
        bottom: 0;
        right: 0;
        -webkit-transform: translate(50%, 50%);
        -ms-transform: translate(50%, 50%);
        -o-transform: translate(50%, 50%);
        transform: translate(50%, 50%);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        z-index: -1;

        @media (min-width: 1300px) {
            background-image: url(../images/media.jpg);
        }
    }
}
.dishList {
    margin: 40px auto;
    &__actions {
        @include flex($justify: space-around);
        @include m750 {
            display: block;
            text-align: center;
            .button {
                display: block;
                margin: 10px auto;
            }
        }
    }
}