.menu {
    position: relative;
    overflow: hidden;
    background-position: calc(100% + 330px) 35%, -330px 65%;
    background-repeat: no-repeat, no-repeat;
    @media (min-width: 1300px) {
        background-image: url(../images/media.jpg), url(../images/media.jpg);
    }
}
.dishList {
    margin: 40px auto;
    &__actions {
        @include flex($justify: space-around);
        @include m750 {
            display: block;
            text-align: center;
            .button {
                display: block;
                margin: 10px auto;
            }
        }
    }
}