
// TYPOGRAPHIC
// ---------------------------
h1 {
    font: 60px $pnb;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    span {
        display: block;
        color: $gold;
        font: 60px $lr;
        text-transform: none;
        bottom: -20px;
        position: relative;
    }
    &:before {
        content: "";
        display: block;
        margin: 0 auto;
        width: 59%;
        height: 76px;
        position: absolute;
        bottom: -32px;
        left: -9%;
        top: auto;
        background-repeat: no-repeat;
        background-position: 0% 0%;
        background-image: url("../images/title_orn_1.png");
    }
    &:after {
        content: "";
        display: block;
        margin: 0 auto;
        width: 59%;
        height: 76px;
        position: absolute;
        bottom: -32px;
        right: -9%;
        top: auto;
        background-repeat: no-repeat;
        background-position: 100% 0%;
        background-image: url("../images/title_orn_1.png");
    }
    &.ornamentTop:after {
        bottom: auto; top: 56px;
    }
    &.ornamentTop:before {
        bottom: 32px; top: 56px;
    }
}
h2 {
    font: 48px $pnb;
    text-transform: uppercase;
    text-align: center;
    span {
        display: block;
        color: $gold;
        font: 60px $lr;
        text-transform: none;
    }
    &:after {
        content: "";
        display: block;
        margin: 0 auto;
        width: 220px;
        height: 30px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-image: url("../images/title_orn_2.png");
    }
    &.noOrnament {
        &:after {
            display: none;
        }
    }
}
.subtitle {
    font: 48px $lti;
}
.adviseText {
    text-transform: uppercase;
    margin: 30px;
    a {
        color: $gold;
        text-decoration: underline;
    }
}

html,
body {
	height: 100%;
}
body {
    padding-top: 70px;
    font-family: $pnr;
    font-size: 14px;
    color: $text;
}

// lAYOUT
// ---------------------------
.wrapper {
	width: 960px;
	margin: 0 auto;
	text-align: center;
}

.flex {
	@include flex();
}

section {
    padding: 90px 0;
    &--through {
        padding: 80px 0;
    }
}

