
// TYPOGRAPHIC
// ---------------------------
html,
body {
	height: 100%;
}
body {
    padding-top: 70px;
    font-family: $pnr;
}

// lAYOUT
// ---------------------------
.wrapper {
	width: 1200px;
	margin: 0 auto;
	text-align: center;
}
.flex {
	@include flex();
}
