// COLORS
// ---------------------------
$text : #232323;

// FONTS
// ---------------------------
$lti:			'Lobster Two Italic';

$lr:			'Lavanderia';

$pnr:			'Proxima Nova Rg';
$pnl:			'Proxima Nova Lt';
$pnb:			'Proxima Nova Bd';
$pns:			'Proxima Nova Sb';


// RESPONSIVE
// ---------------------------
$tablets:		'';
$phones:		'';